.tooltip {
    position: absolute;
    left: 200px;
    background-color: #EEDEDE;
    color: black;
    padding: .5rem;
    font-size: 0.875rem;
    width: 200px;
    border-radius: 2px;
    text-align: left;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
}

.tooltip ul {
    padding-left: 15px;
}

.tooltip#iemailtip {
    top: 145px;
}

.tooltip#ipasstip {
    top: 260px;
}

.tooltip#iconftip {
    top: 315px;
}

.tooltip#ibtntip {
    top: 375px;
    left: 270px;
}